<html>
	<head>
	</head>
	<body style="width: 70%; margin:auto;">
		<p>Ciao Bullita mia! :), avrei voluto fare una cosa un po' più carina, ma...  ecco a te un pimcore tutto tuo per poter creare il tuo progetto :D</p>
		<p> le credenziali per accedere sono: 
			<ul>
				<li>User: admin</li>
				<li>pwd: antho2020!</li>
			</ul>
		</p>	
		
		<blockquote style="font-size: 13px">
		Si buscas la palabra que indica ‘cuidar de una persona' de una manera única y espontánea, y luchar para que tenga todo lo que quiere, esa palabra es 'amor'. Y si realmente amas a alguien, nunca dejarás de hacerlo. Incluso cuando se ríen de ti y dicen que estás loco, especialmente entonces. Simplemente no me rindo. Porque si me rindo,
Podría tomar el consejo que me dan y olvidar, y encontrar otra, pero no sería amor. Sería... Sería alguien con quien pasar el tiempo.
Por la cual no vale la pena luchar." [9x17, Ted] <3</blockquote> 
	</body>
</html>	